@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

/* GRID */
body {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 25vh;
    align-content: center;
    gap: 20px;
    font-family: 'Notable', sans-serif;

}

header {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    align-content: start;
    justify-items: center;
}

.hero {
    grid-column: 1 / 7;
    grid-row: 1 / 4;
    align-content: center;
    margin: 90px;
    border-radius: 25px;
}

.about {
    grid-column: 2 / 5;
    grid-row: 4 / 6;
}

.skills {
    grid-column: 5 / 6;
    grid-row: 4 / 10;
}

.work {
    grid-column: 2 / 5;
    grid-row: 6 / 10;
}

.contact {
    grid-column: 3 / 5;
    grid-row: 10 / 12;
}

/* END GRID */

/* Colour Scheme */
:root {
    --primary-color: #151419;
    --accent-color: #F56E0F;
    --Font-color: #FBFBFB;
    --container-color: linear-gradient(180deg,rgba(27, 27, 27, 1) 0%, rgba(38, 38, 38, 1) 100%);
}
/* END Colour Scheme */

.button {
    background: var(--accent-color);
    color: var(--Font-color);
    transition: background 0.3s ease;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    margin: auto;
}

.loader-overlay {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 999;
    transition: opacity 0.8s ease-out;
    align-content: center;
    justify-items: center;
}

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--accent-color);
    /*noinspection CssInvalidFunction*/
    --_m:
            conic-gradient(#0000 10%,#000),
            linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}


.hidden {
    opacity: 0;
    pointer-events: none;
}

.body-visible {
    overflow: auto; /* Re-enable scrolling */
}

body {
    /*background: linear-gradient(180deg,rgba(21, 20, 25, 1) 0%, rgba(61, 31, 13, 1) 90%, rgba(130, 73, 33, 1) 100%); */
    /*background: linear-gradient(180deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);*/
    background: var(--primary-color);
    color: var(--Font-color);
}

body.loading {
    overflow: hidden;
}

header nav {
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 1;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    background: var(--container-color);
    top: 10px
}

.about, .skills, .work, .contact {
    background: var(--container-color);
    border-radius: 25px;
    /*background: rgba(224, 217, 217, 0.25);*/
    /*border-radius: 16px;*/
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    /*backdrop-filter: blur(14.4px);*/
    /*-webkit-backdrop-filter: blur(14.4px);*/
}

.hero {
    background: url('../media/vectors/hero_background.png');
}

h1 {
    font-size: 4rem;
}

.hello-title {
    font-family: 'Sonsie One', cursive;
    font-size: 7rem;
    margin: 0;
    z-index: 1000;
    display: inline-block;
    position: relative;
    transition: transform 1.5s cubic-bezier(0.76, 0, 0.24, 1), font-size 1.5s ease;
    transform-origin: center;
}


.hero h1, .hero h2 {
    margin-left: 100px;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.skills-list li {
    list-style: none;
}

.icon-html::before {
    content: url(https://skillicons.dev/icons?i=html);
    position: relative;
    right: 10px;
    top: 15px;
}

.icon-css::before {
    content: url(https://skillicons.dev/icons?i=css);
    position: relative;
    right: 10px;
    top: 15px;
}

.icon-javascript::before {
    content: url(https://skillicons.dev/icons?i=js);
    position: relative;
    right: 10px;
    top: 15px;
}

.icon-react::before {
    content: url(https://skillicons.dev/icons?i=react);
    position: relative;
    right: 10px;
    top: 15px;
}

.icon-nodejs::before {
    content: url(https://skillicons.dev/icons?i=nodejs);
    position: relative;
    right: 10px;
    top: 15px;
}

.icon-express::before {
    content: url(https://skillicons.dev/icons?i=express);
    position: relative;
    right: 10px;
    top: 15px;
}

.icon-mongodb::before {
    content: url(https://skillicons.dev/icons?i=mongodb);
    position: relative;
    right: 10px;
    top: 15px;
}

.icon-git::before {
    content: url(https://skillicons.dev/icons?i=git);
    position: relative;
    right: 10px;
    top: 15px;
}

.icon-github::before {
    content: url(https://skillicons.dev/icons?i=github);
    position: relative;
    right: 10px;
    top: 15px;
}

.icon-figma::before {
    content: url(https://skillicons.dev/icons?i=figma);
    position: relative;
    right: 10px;
    top: 15px;
}

.container-heading {
    background: #000000;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: inset 0 0 8px 0 rgb(255 255 255 / 33%);

}

