@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

/* GRID */
body {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 25vh;
    align-content: center;
    gap: 20px;
    font-family: 'Notable', sans-serif;
}

header {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    align-content: start;
    justify-items: center;
}

.hero {
    grid-column: 1 / 7;
    grid-row: 1 / 4;
    align-content: center;
    margin: 90px;
    border-radius: 25px;
}

.about {
    grid-column: 2 / 5;
    grid-row: 4 / 6;
}

.skills {
    grid-column: 5 / 6;
    grid-row: 4 / 10;
}

.work {
    grid-column: 2 / 5;
    grid-row: 6 / 10;
}

.contact {
    grid-column: 3 / 5;
    grid-row: 10 / 12;
}

/* END GRID */

/* Colour Scheme */
:root {
    --primary-color: #151419;
    --accent-color: #F56E0F;
    --Font-color: #FBFBFB;
    --container-color: linear-gradient(180deg,rgba(27, 27, 27, 1) 0%, rgba(38, 38, 38, 1) 100%);
}

.button {
    background: var(--accent-color);
    color: var(--Font-color);
    transition: background 0.3s ease;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    margin: auto;
}

/* END Colour Scheme */

body {
    /*background: linear-gradient(180deg,rgba(21, 20, 25, 1) 0%, rgba(61, 31, 13, 1) 90%, rgba(130, 73, 33, 1) 100%); */
    background: linear-gradient(180deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    /* background: var(--primary-color); */
    color: var(--Font-color);
}


header nav {
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 1;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    background: var(--container-color);
    top: 10px
}

.about, .skills, .work, .contact {
    /*
    background: var(--container-color);
    border-radius: 25px;
     */
    background: rgba(224, 217, 217, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
}

.hero {
    background: url('../media/vectors/hero_background.png');
}

h1 {
    font-size: 4rem;
}

.hello {
    font-family: 'Sonsie One', cursive;
    font-size: 7rem;
}

.hero h1, .hero h2 {
    margin-left: 100px;
}


